<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= Researcher.where("id = ?", @message.sender).first.getPseudonym(current_user) %>
</p>
<br />
<p>
  <b>To:</b>
  <%= Researcher.where("id = ?", @message.researcher_id).first.getPseudonym(current_user) %>
</p>
<br />
<p>
  <b>Message:</b><br />
  <%= @message.message %><br />
  <% if @message.collab_request %>
  	<%= link_to 'Collaborate?', collaborate_researcher_path(@message.sender, :target_user_id => @message.sender) %>
  <% end %>
</p>


<%= link_to 'Reply', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
