<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @message.sender %>
</p>
<br />
<p>
  <b>Receiver's ID:</b>
  <%= @message.researcher_id %>
</p>
<br />
<p>
  <b>Message:</b>
  <%= @message.message %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
