<body style="background-color: #000000" align="center">

<h1>Log in</h1>

<%= flash_message %>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <%= submit_tag "Log in" %>
<% end %>


