<body style="background-color: #000000" align="center">
<header>
  <h1></h1>
</header>
<div class="container">
  <table class="table">
    <thead>
    <th>id</th>
    <th>Pseudonym</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>Region</th>
    <th>Expertise</th>
    <th>Rating</th>
    <th>Join Date</th>
    <th>Approv.</th>
    <th>Admin Privileges</th>
    <th>Send a Message</th>
    <th>Request Collab</th>
    <th></th>
    </thead>
    <!-- Username Point -->
    <% @researchers.each do |r| %>
      <tr class="approved" id="q1">
        <td><%= r.id %></td>
        <td><%= r.pseudonym %></td>
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><%= r.phone_number %></td>
        <% if r.twitter == nil %>
            <td>---</td>
        <% else %>
            <td><%= link_to r.twitter, "http://www.twitter.com/#{r.twitter}" %></td>
        <% end %>
        <td><%= r.region %></td>
        <td><%= r.expertise %></td>
        <td><%= r.rating %></td>
        <td><%= r.created_at.strftime('%c') %></td>
        <td>
          <% if r.id == 1 %>
            Activated
          <% elsif r.status > 0 %>
            <%= link_to 'Deactivate', [:deactivate, :admin , r], {:style=>'color:#ffffff'} %>
          <% else %>
            <%= link_to 'Activate', [:activate, :admin, r], {:style=>'color:#ffffff'} %>
          <% end %>
        </td>
        <td>
          <% if r.id == 1 %>
            Activated
          <% elsif r.Is_Admin? %>
            <%= link_to 'Deactivate', [:deactivate_admin, :admin, r], {:style=>'color:#ffffff'} %>
          <% else %>
            <%= link_to 'Activate', [:activate_admin, :admin, r], {:style=>'color:#ffffff'} %>
          <% end %>
        </td>
        <% if r.id != current_user.id %>
            <td> <%= link_to "Contact User", new_message_path(:target_user_id => r.id), {:style=>'color:#ffffff'}  %></th>
        <% else %>
            <td>---</td>
        <% end %>
        <% if current_user.inCollaborators(r) %>
            <td><%= link_to 'Uncollaborate', uncollaborate_researcher_path(r, :target_user_id => r.id, :location => "browse"), {:style=>'color:#ffffff'} %></td>
        <% else %>
            <% if r.id != current_user.id %>
                <td><%= link_to 'Collaborate', collaborate_researcher_path(r, :target_user_id => r.id), {:style=>'color:#ffffff'} %></td>
            <% else %>
                <td>---</td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div><!--container-->
