<header>
  <h1></h1>
</header>
<div class="container">
  <table class="table">
    <thead>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Phone</th>
    <th>Join Date</th>
    <th>Expertise</th>
    <th>Send a Message</th>
    <th></th>
    </thead>
    <!-- Username Point -->
    <% @researchers.each do |r| %>
      <tr class="approved" id="q1">
        <td><%= r.id %></td>
        <td><%= r.getName() %></td>
        <td><%= r.getEmail() %></td>
        <td><%= r.getPhone() %></td>
        <td><%= r.created_at.strftime('%c') %></td>
        <td><%= r.expertise %></td>
        <td> <%= link_to "Contact User", root_url + "messages/new"  %></th>
        <td><%= link_to 'Collaborate', collaborate_collab_researcher_path(r) %></td>
      </tr>
    <% end %>
  </table>
</div><!--container-->
