<header>
  <h1></h1>
</header>
<div class="container">
  <table class="table">
    <thead>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Phone</th>
    <th>Join Date</th>
    <th>Expertise</th>
    <th></th>
    </thead>
    <!-- Username Point -->
    <% @researchers.each do |r| %>
      <tr class="approved" id="q1">
        <td><%= r.id %></td>
	<% if r.privacy.namepriv > 0 %>
            <td><%= r.name %></td>
        <% else %>
            <td></td>
	<% end %>

	<% if r.privacy.emailpriv > 0 %>
            <td><%= r.email %></td>
        <% else %>
            <td></td>
	<% end %>

	<% if r.privacy.phonepriv > 0 %>
            <td><%= r.phone_number %></td>
        <% else %>
            <td></td>
	<% end %>
        <td><%= r.created_at.strftime('%c') %></td>
        <td><%= r.expertise %></td>
      </tr>
    <% end %>
  </table>
</div><!--container-->
