<div class="container">
  <header>
    <h2>Users</h2>
  </header>
  <table class="table">
    <thead>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Phone</th>
    <th>Join Date</th>
    <th>Expertise</th>
    <th>Send a Message</th>
    <th>Request Collab</th>
    </thead>
    <!-- Username Point -->
    <% @researchers.each do |r| %>
      <tr class="approved" id="q1">
        <td><%= r.id %></td>
        <td><%= r.getName(current_user) %></td>
        <td><%= r.getEmail(current_user) %></td>
        <td><%= r.getPhone(current_user) %></td>
        <td><%= r.created_at.strftime('%c') %></td>
        <td><%= r.expertise %></td>
        <% if r.id != current_user.id %>
            <td> <%= link_to "Contact User", new_message_path(:target_user_id => r.id)  %></th>
        <% else %>
            <td>---</td>
        <% end %>
        <% if current_user.inCollaborators(r) %>
            <td><%= link_to 'Uncollaborate', uncollaborate_researcher_path(r, :target_user_id => r.id, :location => "browse") %></td>
        <% else %>
            <% if r.id != current_user.id %>
                <td><%= link_to 'Collaborate', collaborate_researcher_path(r, :target_user_id => r.id) %></td>
            <% else %>
                <td>---</td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div><!--container-->
