<body style="background-color: #000000" align="center">
<div class="container">
  <header>
    <h2>Collaborators</h2>
  </header>
  <table class="table">
    <thead>
    <th>Pseudonym</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>Region</th>
    <th>Expertise</th>
    <th>Send a Message</th>
    </thead>
    <!-- Username Point -->
    <% @collaborators.each do |c| %>
      <tr class="approved" id="q1">
        <td><%= c.getResearcher.getPseudonym(current_user) %></td>
        <td><%= c.getResearcher.getName(current_user) %></td>
        <td><%= c.getResearcher.getEmail(current_user) %></td>
        <td><%= c.getResearcher.getPhone(current_user) %></td>
        <% if c.getResearcher.twitter != nil %>
            <% if c.getResearcher.getTwitter(current_user) != "---" %>
                <td><%= link_to c.getResearcher.twitter, "http://www.twitter.com/#{r.twitter}" %></td>
            <% else %>
                <td>---</td>
            <% end %>
        <% else %>
            <td>---</td>
        <% end %>
        <td><%= c.getResearcher.getRegion(current_user) %></td>
        <td><%= c.getResearcher.expertise %></td>
        <% if c.getResearcher.id != current_user.id %>
            <td><%= link_to "Contact User", root_url + "messages/new", {:style=>'color:#ffffff'}  %></td>
        <% else %>
            <td>---</td>
        <% end %>
        <% if current_user.inCollaborators(c.getResearcher) %>
            <td><%= link_to 'Uncollaborate', uncollaborate_researcher_path(c.getResearcher, :target_user_id => c.getResearcher.id, :location => "collaborators"), {:style=>'color:#ffffff'} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div><!--container-->


