
<body style="background-color: #000000" align="center">
<header>
  <h1></h1>
</header>
<div>
<p></p>
</div>
<div id="search" align="center" vertical-align="middle" style="background-color: #000000">
  <header>
  	<h2>Search</h2>
  </header>
  <%= form_tag doSearch_researchers_path, :method => 'get' do%>
  	<p>
  	  <%= text_field_tag :search, params[:search], :placeholder => "Enter your search" %>
      <%= select_tag(:search_type, (options_for_select([['Name', 'name'], ['Expertise', 'expertise'], ['Pseudonym', 'pseudonym'], ['Region', 'region']]))) %>
  	  <%= submit_tag "Search", :name => nil %>
  	</p>
  <% end %>

</div>

<div id ="user_nav" align = "left" style = "background-color: black; margin: 10px 600px 10px 600px;">
<h4>
<% if current_user %>
  <%= link_to "All", root_url + "researchers/browse", {:style=>'color:#ffffff'} %>
<% else %>
  <%= link_to "Sign up", sign_up_path, {:style=>'color:#ffffff'} %> ||
  <%= link_to "Log in", log_in_path, {:style=>'color:#ffffff'} %>
<% end %>
  </h4>
</div>

<div>
<p></p>
</div>

<div id ="user_nav" align = "left" style = "background-color: black; margin: 10px 600px 10px 600px;">
<h4>
<% if current_user %>
  <%= link_to "My Collaborators", root_url + "researchers/collaborators", {:style=>'color:#ffffff'} %>
<% else %>
  <%= link_to "Sign up", sign_up_path %> ||
  <%= link_to "Log in", log_in_path %>
<% end %>
  </h4>
</div>
</body>
