<p id="notice"><%= notice %></p>

<h1>Invstg8.net account</h1>
</br>
<%= link_to "Edit Info", edit_researcher_path(@researcher) %>
</br>
<%= link_to "Edit Privacy", edit_privacy_path(@privacy) %>
</br>

<div class="container">
  <table class="table">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Expertise</th>
    <th>Account Status</th>
    </thead>
   
      <tr class="researcher">
        <td><%= @researcher.name %></td>
        <td><%= @researcher.email %></td>
        <td><%= @researcher.phone_number %></td>
        <td><%= @researcher.expertise %></td>
        <% if @researcher.status == 1 %>
          <td><%= "Active" %></td>
        <% elsif @researcher.status == 0 %>
          <td><%= "Deactivated" %></td>
        <% elsif @researcher.status == -1 %>
          <td><%= "Banned" %></td>
        <% end %>
        
      </tr>
    
  </table>
  <div>
  </div><!--container-->
</div>



<%= link_to 'Back', "questions" %>
