<%= form_for(@privacy) do |f| %>
  <% if @privacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privacy.errors.count, "error") %> prohibited this researcher from being saved:</h2>

      <ul>
      <% @privacy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :namepriv %>
  </div>
<div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phonepriv %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :emailpriv %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
